<h2>Thanks for signing up!</h2>
<%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>
  <div class="field">
    <%= f.text_field :username, :placeholder => 'username' %>
  </div>

  <%= f.submit 'Next', :class => 'btn brn-primary' %>
<% end %>

<%= link_to 'skip', next_wizard_path %>
