<h2>Photo</h2>
<%= form_for(@user, :url => wizard_path, :method => :put) do |f| %>
  <div class="field">
    <%= f.text_field :user_photo, :placeholder => 'Photo' %>
  </div>

  <%= f.submit 'Done', :class => 'btn brn-primary' %>
<% end %>

<%= link_to 'skip', next_wizard_path %>
