
<div class="container col-md-offset-2">
  <h1>Listing Posts</h1>
  <h4>Timeline</h4>
    <% @posts.each do |post| %>
      <div class="row">
        <div class="col-md-1">
          <img src="<%= post.user.user_photo %>" alt="picture" width="75px" height="75px">
        </div>
        <div>
          <div>
            <b><%= link_to post.user.username, user_path(:id => post.user_id) %></b>
          </div>
          <br>
          <div>
            <%= post.body %>
          </div>
        </div>
      </div>
      <br>
    <% end %>

  <%= paginate @posts %>
</div>
