<%= render :partial => 'header'%>
<div class="container ol-md-offset-4 col-md-4"
  <h1>Edit Post</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>
