// Place all the styles related to the HomePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
